* {
    border-color: whitesmoke;
}

header {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

body {
    display:flex;
    flex-direction: column;
    border: 5px;
    border-style: solid;
    background-color: lightblue;
    align-items:center;
    border-color: rgb(242, 145, 145);
    min-height:97vh;
    font-family: sans-serif;
}

.error-container {
    color: lightcoral;
    font-size: medium;
}

span {
    display: block;
    margin-bottom: 5px;
}

main {
    width: 65vw;
    max-width: 800px;
}

input {
    width: 97%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 240, 134);

}

.box {
    background-color:rgb(209, 238, 167);
    flex-direction: column;
    border: 5px;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

.box-horizontal {
    flex-direction: wrap;
    float: left;

}

.bookmark {
    margin: 5px;
    border: 1px;
    border-style: dashed;
}

.hidden {
    display: none;
}